$variants: ("sm": 32, "md": 64, "lg": 80, "xl": 120)

.avatar
  @apply rounded cursor-pointer block

.avatar__badge
  @apply border border-grey-light flex items-center justify-center

@each $variant, $size in $variants
  &.avatar--#{$variant}
    width: #{$size}px
    height: #{$size}px
    font-size: #{$size / 2}px
