.Codemirror
  height: auto

.codemirror-container
  background: #121212
  border: 3px solid #fff
  border-radius: 8px
  padding: 16px

.codemirror-toolbar
  @apply flex items-center px-2 py-3 w-full
  background-color: #fafbfc

.codemirror-toolbar-heading
  @apply font-bold
  flex: 1

.codemirror-toolbar-menu
  @apply flex items-center justify-end

.codemirror-language-switcher
  @apply mr-4

  background: white
