{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "relay",
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./app/javascript/src"],
        "alias": {
          "components": "./app/javascript/src/components",
          "helpers": "./app/javascript/src/helpers",
          "decorators": "./app/javascript/src/decorators",
          "mutations": "./app/javascript/src/graphql/mutations",
          "queries": "./app/javascript/src/graphql/queries"
        }
      }
    ],
    [
      "css-modules-transform",
      {
        "preprocessCss": "./config/webpack/loaders/sass.js",
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "extensions": [".scss", ".sass"]
      }
    ],
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
