{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "forceAllTransforms": true
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-flow",
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "@babel/plugin-transform-regenerator",
      {
        "async": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "lodash",
    [
      "module-resolver",
      {
        "root": [
          "./app/javascript/src"
        ],
        "alias": {
          "types": "./app/javascript/flow-types",
          "styles": "./app/javascript/styles",
          "components": "./app/javascript/src/components",
          "helpers": "./app/javascript/src/helpers",
          "decorators": "./app/javascript/src/decorators",
          "editor": "./app/javascript/src/editor"
        }
      }
    ],
    [
      "css-modules-transform",
      {
        "preprocessCss": "./config/webpack/loaders/sass.js",
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "extensions": [
          ".scss",
          ".sass"
        ]
      }
    ]
  ]
}
