{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "flow",
    "react-app"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./app/javascript/src"],
        "alias": {
          "types": "./app/javascript/flow-types",
          "styles": "./app/javascript/styles",
          "components": "./app/javascript/src/components",
          "helpers": "./app/javascript/src/helpers",
          "decorators": "./app/javascript/src/decorators",
          "editor": "./app/javascript/src/editor"
        }
      }
    ],
    [
      "css-modules-transform",
      {
        "preprocessCss": "./config/webpack/loaders/sass.js",
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "extensions": [".scss", ".sass"]
      }
    ]
  ]
}
