.CodeMirror
  border: 1px solid config('colors.grey-lighter')
  height: auto
  padding-top: 60px

.codemirror-header
  @apply flex items-center absolute px-2 py-3 w-full
  top: 0
  background-color: #fafbfc

.codemirror-header-heading
  @apply font-bold
  flex: 1

.codemirror-header-menu
  @apply flex items-center justify-end

.codemirror-language-switcher
  @apply mr-4

  background: white
