
code-editor
  @apply whitespace-no-wrap

  .code-editor-container
    @apply rounded shadow-lg

    .CodeMirror
      @apply rounded-b max-w-full pt-4 pb-4 font-normal
      height: auto

  .code-editor-toolbar
    @apply flex items-center p-4 w-full relative rounded-t text-base bg-white text-sm bg-grey-lightest
    height: 40px

  .code-editor-toolbar-heading
    @apply font-bold
    flex: 1

  .code-editor-toolbar-menu
    @apply flex items-center justify-end flex-1

  .code-editor-language-switcher-container
    @apply relative cursor-pointer select-none
    width: 150px

  .code-editor-language-switcher
    @apply mr-4 bg-white -m-2 shadow-md rounded list-none absolute z-50 ml-0
    max-height: 250px
    top: 40px
    left: 9px
    width: 150px

    li
      @apply px-2 py-1 border-b border-grey-lighter

      &:hover, &.selected
        @apply bg-grey-lightest

      &:last-child
        @apply border-b-0
