default: &default
  user: git
  storage_path: /tmp/repositories/
  log_file: log/git-shell.log

development:
  <<: *default

test:
  <<: *default
  storage_path: /tmp/test-repositories/
  log_file: log/test-git-shell.log

staging:
  <<: *default

production:
  <<: *default
  storage_path: /mnt/repositories/
