@import 'variables.sass'

.brand-primary-green
  color: $primary-green

.brand-primary-red
  color: $primary-red

.brand-bg-green
  background-color: $green

.brand-bg-green-lighter
  background-color: lighten($green, 10%)

.brand-bg-blue
  background-color: $blue

.brand-bg-blue-lighter
  background-color: lighten($blue, 10%)

.bg-yellow-pattern
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/halftone-yellow.png")

.fill-green
  fill: var(--green)

.fill-red
  fill: var(--red)
