@import 'variables.sass'

.brand-bg-green
  background-color: $green

.brand-bg-green-lighter
  background-color: lighten($green, 10%)

.brand-bg-blue
  background-color: $blue

.brand-bg-blue-lighter
  background-color: lighten($blue, 10%)

.fill-green
  fill: var(--green)

.fill-red
  fill: var(--red)
