.chu-editor
  @apply font-content
  letter-spacing: 0.015em
  font-weight: 400
  font-style: normal
  font-size: 22px
  color: rgba(0, 0, 0, 1)
  line-height: 1.5
  margin-bottom: 50px
  outline: none

  blockquote
    strong
      font-style: italic

  p
    margin-bottom: 1rem

  a
    text-decoration: underline

  h1, h2, h3, h4, h5, h6, strong
    margin-bottom: 1rem
    @apply font-content
