.CodeMirror
  @apply rounded-b max-w-full pt-4 font-normal overflow-y-auto
  font-family: 'Open Sans', sans-serif
  height: auto!important

  .CodeMirror-scroll
    max-height: 600px
.chu-editor
  font-weight: 400
  font-style: normal
  font-size: 20px
  color: rgba(0, 0, 0, 0.8)
  line-height: 1.5
  outline: none
  position: relative
  height: auto

  &:last-child
    @apply mb-0

  div
    @apply whitespace-no-wrap

  blockquote
    @apply border-l-2 -ml-4 pl-4 mb-6
    font-style: italic

  .title
    @apply mb-2

  a
    hyphens: auto
    cursor: pointer
    text-decoration: underline
    overflow-wrap: break-word

  h1, h2, h3, h4, h5, h6, &.cm-header
    @apply mb-6
    letter-spacing: -0.07rem

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  strong, &.cm-strong
    @apply mb-6

  code-editor, lazy-image, p
    @apply mb-6 block

  figure, p > div
    @apply whitespace-no-wrap

  pre, &.cm-pre
    @apply whitespace-pre-wrap

  code, &.cm-code
    @apply bg-grey-lightest p-1 border border-grey-lighter rounded-sm whitespace-pre-wrap text-base font-normal

  img, &.cm-image
    width: 800px
		min-height: 400px

  div + br
    display: none

  .insertion
    @apply bg-green-lightest text-green-darkest max-w-full whitespace-normal

    pre
      @apply p-4 overflow-x-auto text-base

    *
      background: inherit
      color: inherit

    img
      @apply border-4 border-green-lightest

  .deletion
    @apply bg-red-lightest line-through text-red max-w-full whitespace-normal
    *
      background: inherit
      color: inherit

  ul, ol, &.cm-list
    @apply ml-8 mb-6 list-disc

    li
      p
        @apply mb-2

  ol
    @apply list-decimal
