@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css)
@import url("https://use.typekit.net/com7ean.css")

@font-face
  font-family: 'Noe Display'
  src: url('./fonts/noe-display-bold.eot')
  src: url('./fonts/noe-display-bold.eot') format("embedded-opentype"), url('./fonts/noe-display-bold.woff2') format("woff2"), url('./fonts/noe-display-bold.woff') format("woff"), url('./fonts/noe-display-bold.ttf') format("truetype")
  font-weight: normal
  font-style: normal

.font-logo
  font-family: 'Noe Display',  Inter, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

.font-headings
  font-family: Inter, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

.font-content
  font-family: freight-text-pro, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif

.font-code
  font-family: 'Fira code', Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
