[Unit]
Description=Image resizing and processing server
After=network.target

[Service]
Type=simple
ExecStart=/home/chuspace/bin/imgproxy
Restart=always
EnvironmentFile=/home/chuspace/chuspace.com/current/.env
[Install]
WantedBy=multi-user.target
