[Unit]
Description=Image resizing and processing server
After=network.target

[Service]
Type=simple
ExecStart=/home/git/bin/imgproxy
EnvironmentFile=/home/git/chuspace.com/current/.env
Restart=always
LimitNOFILE=infinity

[Install]
WantedBy=default.target
