.alert-container
  @apply absolute w-full text-center z-50
  height: 50px
  top: 0
  right: 0

.alert
  @apply block text-base font-bold

.alert--notice,
.alert--notice
  @apply text-blue-dark bg-blue-lightest

.alert--error
  @apply text-red-dark bg-red-lightest

.alert--success
  @apply text-green-dark bg-green-lightest
