.arrow:not(:empty)
  border: 1px solid theme('colors.grey-lighter')
  &:after, &:before
    @apply z-50 pointer-events-none absolute
    bottom: 100%
    left: 10%
    border: solid transparent
    content: " "
    height: 0
    width: 0
  &:after
    border-color: rgba(255, 255, 255, 0)
    border-bottom-color: #fff
    border-width: 10px
    margin-left: -10px
  &:before
    border-color: rgba(204, 204, 204, 0)
    border-bottom-color: theme('colors.grey-lighter')
    border-width: 11px
    margin-left: -11px
