$variants: ("sm": 32, "md": 64, "lg": 80, "xl": 120, "thumb": 150)

.avatar
  @apply rounded cursor-pointer

.avatar__badge
  @apply border border-grey-light inline-block text-center align-middle

@each $variant, $size in $variants
  &.avatar--#{$variant}
    width: #{$size}px
    height: #{$size}px
    font-size: #{$size / 2}px
    line-height: #{$size}px
