.dialog
  @apply w-1/2 mt-32 border-none rounded p-16 shadow text-center

  .dialog-close
    @apply cursor-pointer absolute
    right: 1rem
    top: 1rem

  .dialog-intro
    @apply mx-auto mt-4
    max-width: 30rem

  .dialog-content
    @apply py-8


.dialog-green
  @apply brand-bg-green

.dialog-blue
  @apply brand-bg-blue
