details
  summary
    @apply cursor-pointer

    img
      @apply inline-block

.dropdown
  @apply absolute bg-white border border-grey-lighter rounded-sm shadow mt-2 right-0 z-50
  min-width: 12rem

  .dropdown__divider
    @apply border-t border-grey-lightest block

  .dropdown__item
    @apply py-2 px-4 block text-sm cursor-pointer

    &:hover
      @apply text-grey

  &:after, &:before
    bottom: 100%
    right: 10%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none


  &:after
    border-color: rgba(255, 255, 255, 0)
    border-bottom-color: #fff
    border-width: 7px
    margin-right: -7px

  &:before
    border-color: rgba(204, 204, 204, 0)
    border-bottom-color: theme('colors.grey-lighter')
    border-width: 8px
    margin-right: -8px

  &.dropdown__button, &.dropdown__autocomplete
    @apply mt-0
    width: 100%
    right: unset

    &:after, &:before
      content: unset

    .dropdown__item
      @apply flex items-center border-b border-grey-lightest

      &[aria-disabled='true']
        opacity: 0.5

      &:first-child
        @apply py-2 px-4
      &:last-child
        @apply mb-0 border-b-0

      .avatar
        @apply mr-2
