details
  summary
    @apply cursor-pointer

    .avatar
      @apply inline-block

.dropdown
  @apply w-48 absolute bg-white border border-grey-lighter rounded-sm shadow mt-2 right-0

  .dropdown__divider
    @apply border-t border-grey-lighter block mt-1 mb-1

  .dropdown__item
    @apply py-2 px-4 block text-sm

    &:last-child
      @apply mb-1

    &:first-child
      @apply pt-4

    .link
      @apply text-grey-light

  &:after, &:before
    bottom: 100%
    right: 10%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none


  &:after
    border-color: rgba(255, 255, 255, 0)
    border-bottom-color: #fff
    border-width: 7px
    margin-right: -7px

  &:before
    border-color: rgba(204, 204, 204, 0)
    border-bottom-color: theme('colors.grey-lighter')
    border-width: 8px
    margin-right: -8px
