.input__container
  @apply w-full

  &:first-child
    @apply mt-0

  .input__label
    @apply mb-2 block text-sm font-bold
    transition: color 0.5s ease

    abbr
      text-decoration: none
      color: theme('colors.red')

  .input__error,
  .input__hint
    @apply mt-2 block text-xs text-grey-light
    transition: color 0.5s ease

  .input__hint
    @apply block

  .input__error
    @apply hidden

.input
  @apply py-3 px-4 rounded border border-blue bg-white min-w-full
  transition: border-color 0.5s ease
  box-sizing: border-box

  &:focus, &:hover
    @apply outline-none appearance-none
    box-shadow: 0 0 0 1px theme('colors.blue')

  &--slim
    padding: 0.2rem 0.5rem

  &--borderless
    @apply border-none

    &:focus, &:hover
      @apply outline-none appearance-none border-none shadow-none


input-check
  @apply block w-full

.input__container--invalid
  .input__label
    @apply text-red

  .input
    @apply border-red

    &:focus, &:hover
      box-shadow: 0 0 0 1px theme('colors.red')

  .input__hint
    @apply hidden

  .input__error
    @apply text-red block
