lazy-image
	@apply whitespace-no-wrap relative block shadow-md rounded overflow-hidden

	&[editable="true"]
		&.selected, &:hover
			box-shadow: 0 0 0 3px theme('colors.blue')

	.image__container
		@apply float-none relative

		figcaption
			@apply text-grey italic py-2 italic text-center text-sm font-headings

		.close
			z-index: 1

		img
			width: 800px

			&.blur-up
				-webkit-filter: blur(5px)
				filter: blur(5px)
				transition: filter 400ms, -webkit-filter 400ms

			&.blur-up.lazyloaded
				-webkit-filter: blur(0)
				filter: blur(0)
