.logo
  @apply text-3xl

  &--text
    @apply text-grey-darkest font-content font-bold

  &--badge
    @apply rounded-sm font-content bg-grey-darkest text-white font-bold flex items-center justify-center
    width: 42px
    height: 42px

  &__version
    @apply text-grey font-sans text-xs absolute
    bottom: -20px
