.title
  @apply mb-2

.summary
  @apply text-grey text-2xl font-content

.title__label__empty::before,
.summary__label__empty::before,
.summary__label__empty
  @apply italic pointer-events-none text-grey-light float-left
  content: attr(data-empty-text)
  height: 0

.body__label__empty::before
  @apply italic pointer-events-none text-grey-light float-left
  content: attr(data-empty-text)
  height: 0

.summary__label__empty
  @apply float-none
  height: auto


.title__label,
.summary__label
  @apply relative

  &::before
    @apply absolute text-sm border-r pr-2 italic pointer-events-none text-grey-light font-headings
    content: 'Title'
    top: calc(100% / 2 - 0.4rem)
    right: 110%
    visibility: hidden

  @screen sm
    &::before
      @apply block

  &:hover, &:focus
    &::before
      visibility: visible

  &--nohover
    &::before
      visibility: visible

.summary__label
  @apply text-grey

  &::before
    @apply hidden
    content: 'Summary'

    @screen sm
      @apply block
