chu-topics
  .chu-topics__container
    @apply flex items-center text-lg flex-wrap

  .chu-topics__topic
    @apply px-2 py-1 text-sm rounded leading-tight bg-grey-lighter flex items-center whitespace-no-wrap mb-2

    &__icon
      @apply text-xs ml-2 text-grey font-bold cursor-pointer

  .chu-topics__input__container
    @apply relative border border-blue px-4 rounded
    width: 100%

    .chu-topics__input
      @apply text-base py-2

      &:hover, &:focus
        @apply outline-none appearance-none border-none shadow-none

      &[disabled]
        @apply text-grey-light

    .chu-topics__list
      @apply absolute bg-white shadow-md list-none p-0 m-0 text-sm
      top: 42px
      width: 250px

      li
        @apply border-b border-grey-lighter p-2 cursor-pointer

        &:hover
          @apply bg-grey-lightest

        &:last-child
          @apply border-b-0

      .chu-topics__topic__custom
        @apply font-bold
