lazy-image
	@apply whitespace-no-wrap relative block

	&[align='left']
		@apply float-left mr-4 w-1/2

	&[align='right']
		@apply float-right mr-4 w-1/2

	&[align='middle']
		@apply float-none w-1/2 mx-auto

	.image-toolbar
		@apply absolute flex justify-between items-center rounded mx-auto py-2 px-4 bg-black z-50 invisible
		width: 150px
		top: -45px
		left: calc(50% - 100px / 2)
		height: 36px

	.image-container
		@apply float-none relative

		.lazy
			display: block
			border: 0
			opacity: 0

			&:not(.initial)
				transition: opacity 1s

			&.initial,
			&.loaded,
			&.error
				opacity: 1

			&:not([src])
				visibility: hidden

	&.selected, &:hover
		box-shadow: 0 0 0 3px theme('colors.blue')

	&.selected
		.image-toolbar
			@apply visible
