AllowUsers git
AuthenticationMethods publickey
HostKey /home/git/openssh/ssh_host_rsa_key
ListenAddress 127.0.0.1:2222
LogLevel VERBOSE
PasswordAuthentication no
PidFile none
Protocol 2
StrictModes no
UsePAM no

Match User git
AuthorizedKeysCommandUser git
AuthorizedKeysCommand /bin/git_shell_authorize git %u %k
