
HostKey /home/chuspace/openssh/ssh_host_rsa_key

AuthorizedKeysCommandUser gaurav
AuthorizedKeysCommand /home/chuspace/bin/git_shell_authorize %u %k
AuthorizedKeysFile none

AllowUsers gaurav
AuthenticationMethods publickey
ListenAddress 127.0.0.1:2222
LogLevel VERBOSE
PasswordAuthentication no
AllowAgentForwarding no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
X11Forwarding no
AllowTcpForwarding no
PrintMotd no
PrintLastLog no
PermitRootLogin no
Protocol 2
StrictModes yes
UsePAM no

PidFile /home/chuspace/tmp/pids/sshd.pid
