
HostKey /etc/ssh/ssh_host_rsa_key

AuthorizedKeysCommandUser git
AuthorizedKeysCommand /etc/chuspace/mobius auth %k
AuthorizedKeysFile none

AllowUsers git
AuthenticationMethods publickey
ListenAddress 127.0.0.1:22
LogLevel VERBOSE
PasswordAuthentication no
AllowAgentForwarding no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
X11Forwarding no
AllowTcpForwarding no
PrintMotd no
PrintLastLog no
PermitRootLogin no
Protocol 2
StrictModes yes
UsePAM no

PidFile /home/chuspace/chuspace.com/tmp/pids/sshd.pid
