.input__container
  @apply w-full

.input__label
  @apply mb-4 text-sm font-bold
  transition: color 0.5s ease

.input__error
  @apply mt-2 block text-xs text-grey-light
  transition: color 0.5s ease

.input
  @apply py-3 px-4 rounded border border-blue bg-white min-w-full

  transition: border-color 0.5s ease

input-check
  &[status="invalid"]
    .input__label
      @apply text-red

    .input
      @apply border-red

    .input__error
      @apply text-red
